# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Numpy
3. TensorFlow

| Data Science Tools    |
| ---------------------- |
| Jupyter Notebooks      |
| RStudio                |
| VSCode with Python     |

### Below are a few examples of evaluating arithmetic expressions in Python


#### Addition

result = 3 + 5

print(result) # output 8

#### Substraction

result = 5 - 3

print(result) # output 2

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60:
200 / 60

3.3333333333333335

**Objectives:**

* List popular languages for Data Science
* Git & GitHub
* Jupyter Notebook enviroment

## Author

Ahmed Ewees